@font-face {
    font-family: 'Nunito Sans-regular';
    src: url("../assets/font/NunitoSans-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Nunito Sans-medium';
    src: url("../assets/font/NunitoSans-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Nunito Sans-bold';
    src: url("../assets/font/NunitoSans-Bold.woff") format("woff");
}